*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    h1{
        margin-bottom: 150px;
    }
    #instrumentoSelect{
        margin-bottom: 150px;
    }
}
.container-instrumentos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.instrumento{
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;

}
.instrumento:hover{
    transform: scale(1.1);
    cursor: pointer;
}